* {
  margin: 0;
}

.App {
  padding: 2%;
  text-align: center;
}
.AppHeader {
  min-height: 10vh;
  background-color: rgb(41, 23, 23);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: bolder;
}
.todoLabel {
  font-size: 30px;
}
.input {
  width: 50%;
  margin-right: 10px;
  padding: 12px 15px;
  border: 2px solid gray;
  border-radius: 5px;
}
.button {
  background-color: indigo;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
}
.todos {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}
